.restaurant {
  padding-top: 3rem;
  padding-bottom: 5rem;
  width: 100%;
  background-color: #f6f6f6;

  &__title {
    margin-bottom: 1.5rem;
  }

  &__box {
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    box-shadow: 5px 5px 10px #e5e5e5, -5px -5px 10px #ffffff;

    &__link {
      position: relative;
    }
  }

  &__status {
    position: absolute;
    right: 2em;
    bottom: 18rem;
    padding: 0.5rem 1rem;
    background-color: aquamarine;
    color: green;
    font-size: 1.4rem;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    height: 17rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  &__text__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem 0 1rem;
  }

  &__icon__box {
    position: relative;
    right: 24px;

    &:hover .restaurant__icon--full {
      opacity: 1;
      transition: all 1s;
    }
  }

  &__icon {
    font-size: 2.4rem;
    position: absolute;
    opacity: 1;

    &--full {
      background: linear-gradient(
        160deg,
        lighten(rgba(255, 121, 218, 1), 5%) 0%,
        lighten(rgba(147, 86, 220, 1), 5%) 81%
      );
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
    }
  }

  &__description {
    font-size: 1.6rem;
    color: rgb(151, 151, 151);
    margin-left: 1rem;
  }
}
