*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  display: inline;
}

.container {
  padding: 0 5% 0 5%;
}

.header,
.header--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.5rem 0 1rem 0;
  border-bottom: solid 2px lightgrey;
  background-color: white;
}

.location {
  background-color: #eaeaea;
  color: #353535;
  padding: 1rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
}
.location__name {
  margin-left: 1.5rem;
}

.hero {
  background-color: #f6f6f6;
  padding: 3rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  min-height: 25rem;
}
.hero__description {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: rgb(151, 151, 151);
}
.hero__btn,
.menu__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3rem;
  border-radius: 5rem;
  padding: 1.5rem 2rem;
  background: rgb(255, 121, 218);
  background: -o-linear-gradient(
    290deg,
    rgb(255, 121, 218) 0%,
    rgb(147, 86, 220) 81%
  );
  background: linear-gradient(
    160deg,
    rgb(255, 121, 218) 0%,
    rgb(147, 86, 220) 81%
  );
  border: none;
  color: rgb(255, 249, 221);
  font-weight: 500;
  -webkit-box-shadow: 1px 7px 7px -2px rgba(0, 0, 0, 0.37);
  box-shadow: 1px 7px 7px -2px rgba(0, 0, 0, 0.37);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.hero__btn:hover,
.menu__btn:hover {
  background: -o-linear-gradient(290deg, #ff93e1 0%, #a16be0 81%);
  background: linear-gradient(160deg, #ff93e1 0%, #a16be0 81%);
  -webkit-box-shadow: 1px 7px 7px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 7px 7px -2px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  margin: 3rem 0rem 5rem 0rem;
}

.step {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step__box {
  margin-top: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #f6f6f6;
  border-radius: 2rem;
  padding: 2.5rem 6rem 2.5rem 2rem;
  -webkit-box-shadow: 5px 5px 10px #e5e5e5, -5px -5px 10px #ffffff;
  box-shadow: 5px 5px 10px #e5e5e5, -5px -5px 10px #ffffff;
}
.step__box:hover {
  background-color: #f5edff;
}
.step__box:hover .step__icon {
  color: #9356dc;
}
.step__bubble {
  color: white;
  position: absolute;
  padding: 0.5rem;
  background-color: #9356dc;
  border-radius: 50%;
  border: solid 1px #d3d3d3;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  left: -1rem;
  top: 2.1rem;
}
.step__icon {
  color: #7e7e7e;
  margin-left: 1.5rem;
}
.step__description {
  font-weight: 600;
  margin-left: 1.5rem;
}

.restaurant {
  padding-top: 3rem;
  padding-bottom: 5rem;
  width: 100%;
  background-color: #f6f6f6;
}
.restaurant__title {
  margin-bottom: 1.5rem;
}
.restaurant__box {
  width: 100%;
  background-color: white;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  -webkit-box-shadow: 5px 5px 10px #e5e5e5, -5px -5px 10px #ffffff;
  box-shadow: 5px 5px 10px #e5e5e5, -5px -5px 10px #ffffff;
}
.restaurant__box__link {
  position: relative;
}
.restaurant__status {
  position: absolute;
  right: 2em;
  bottom: 14rem;
  padding: 0.5rem 1rem;
  background-color: aquamarine;
  color: green;
  font-size: 1.4rem;
}
.restaurant__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 17rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
.restaurant__text__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 2rem 0 1rem;
}
.restaurant__icon__box {
  position: relative;
  right: 24px;
}
.restaurant__icon__box:hover .restaurant__icon--full {
  opacity: 1;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.restaurant__icon {
  font-size: 2.4rem;
  position: absolute;
  opacity: 1;
}
.restaurant__icon--full {
  background: -o-linear-gradient(290deg, #ff93e1 0%, #a16be0 81%);
  background: linear-gradient(160deg, #ff93e1 0%, #a16be0 81%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurant__description {
  font-size: 1.6rem;
  color: rgb(151, 151, 151);
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 2rem;
  }
  .step__box {
    margin-right: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .step__bubble {
    top: -15%;
    left: 45%;
  }
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .restaurant__title {
    width: 100%;
  }
  .restaurant__box {
    width: 40%;
    margin: 2rem;
  }
}
.footer {
  background-color: #353535;
  padding-top: 2rem;
  padding-bottom: 5rem;
  position: relative;
}
.footer__title {
  margin-bottom: 1rem;
}
.footer__box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__box__container__icon {
  color: white;
  margin-right: 1rem;
  font-size: 1rem;
}
.footer__box__container__text,
.footer__box__text {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #9356dc;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  -webkit-animation: hide 1s 3s forwards ease-out;
  animation: hide 1s 3s forwards ease-out;
}
.loader__spinner {
  width: 100px;
  height: 100px;
  border: 20px solid white;
  border-radius: 50%;
  position: absolute;
}
.loader__spinner::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #ff79da;
  -webkit-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg) translate(40px);
    transform: rotate(0deg) translate(40px);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(40px);
    transform: rotate(360deg) translate(40px);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg) translate(40px);
    transform: rotate(0deg) translate(40px);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(40px);
    transform: rotate(360deg) translate(40px);
  }
}
@-webkit-keyframes hide {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes hide {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.menu__box {
  width: 100%;
  height: 30rem;
}
.menu__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header--menu {
  position: relative;
  z-index: 10;
}
.header--menu__arrow {
  font-size: 2.6rem;
  position: absolute;
  left: 2.5rem;
  top: 1.8rem;
}

.restaurant__icon__box--menu {
  padding-right: 2rem;
  padding-top: 1rem;
}

.list {
  padding-top: 4rem;
  background-color: #f6f6f6;
  border-radius: 5rem;
  margin-top: -7rem;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.list__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.list__head__title {
  font-family: "Shrikhand", cursive;
  font-size: 2.8rem;
  font-weight: 500;
}
.list__plats__title__sub {
  padding-bottom: 0.6rem;
  border-bottom: solid 3px #99e2d0;
}
.list__plats__cards {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2rem 0;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px #e5e5e5, -5px -5px 10px #ffffff;
  box-shadow: 5px 5px 10px #e5e5e5, -5px -5px 10px #ffffff;
  opacity: 0;
  -webkit-animation: reveal 1.4s forwards;
  animation: reveal 1.4s forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.list__plats__cards:hover .list__plats__cards__tickbox {
  -webkit-transform: translateX(0rem);
  -ms-transform: translateX(0rem);
  transform: translateX(0rem);
  margin-left: 2rem;
}
.list__plats__cards:hover .list__plats__cards__tickbox__icon {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.list__plats__cards__left {
  margin: 1.3rem 0 1rem 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.list__plats__cards__title {
  font-size: 1.8rem;
  font-weight: bold;
  height: 4rem;
  margin-right: 4rem;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.list__plats__cards__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.list__plats__cards__box__description {
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.list__plats__cards__box__prix {
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.list__plats__cards--last {
  margin-bottom: 4rem;
}
.list__plats__cards__tickbox {
  margin-left: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  background-color: #99e2d0;
  color: #ffffff;
  text-align: center;
  width: 6rem;
  border-radius: 0 1rem 1rem 0;
  font-size: 2.2rem;
  -webkit-transform: translateX(10rem);
  -ms-transform: translateX(10rem);
  transform: translateX(10rem);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.list__plats__cards__tickbox__icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.menu__btn {
  margin: 0;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 1.5rem 5rem;
  margin-bottom: 4rem;
}

@-webkit-keyframes reveal {
  to {
    opacity: 1;
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}
.list__plats__cards:nth-of-type(1n) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.list__plats__cards:nth-of-type(2n) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.list__plats__cards:nth-of-type(3n) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.list__plats__cards:nth-of-type(4n) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.list__plats__cards:nth-of-type(5n) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.list__plats__cards:nth-of-type(6n) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.list__plats__cards:nth-of-type(7n) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.list__plats__cards:nth-of-type(8n) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.list__plats__cards:nth-of-type(9n) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.list__plats__cards:nth-of-type(10n) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@media screen and (min-width: 768px) {
  .menu__box {
    position: fixed;
    height: 101vh;
  }
  .menu__img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .list {
    max-width: 80rem;
    position: relative;
    top: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30rem;
  }
}
