body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  display: inline;
}
